* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 5rem auto;
    width: 30rem;
    height: 30rem;
    // background-color: tomato;
}

.cell {
    width: 10rem;
    height: 10rem;
    font-size: 6rem;
    border: 1px solid gray;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.274);
    cursor: pointer;
}

// .game-status {
//     position: absolute;
//     left: 50%;
//     transform: translate(-50%);
// }

.restart-btn {
    position: absolute;
    left: 50%;
    padding: 1rem 2rem;
    transform: translate(-50%);
    font-weight: bold;
    border: none;
    transition: background-color .2s, color .2s;

    &:hover {
        background-color: tomato;
        color: white;
    }
}